// Переменные
$primary-color: #9500FF;
$secondary-color: #00CF00;
$white: #ffffff;
$border-radius: 25px;
$background: #EEEEEE;
$status-color: #00CF00;
$font-color-header: #A7A7A7;
$font-color-profile: #434343;
$gray-light: #f3f4f6;

// Миксины
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin button-base {
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  outline: none;
  
  &:active {
    transform: scale(0.98);
  }
}